<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Hangman</title>
  </head>
  <body>
    <h1>HANGMAN</h1>
    <div id=main>
      <div class="game">
        <p id="output"><%= @output %></p>
        
        <form method="post">
          <input id="letter" type="text" name="letter" maxlength="1"/>
          <input type="submit" value="Try"/>
        </form>
        <br>
        <p id="message"><%= @message %></p>
        <br>
        <p id="<%= @end_message_id %>"><%= @end_message %></p>
        <br>
        <p>You have <%= @chances_left %> possible mistakes left</p>
        <% unless @used_letters.empty? %>
          <p>You've already tried: <%= @used_letters %></p>
        <% end %>
      </div>
      <div class="image">
        <img src="<%= @image %>">
        <form action="/new_game">
          <input id="new_game" type="submit" value="New Game"/>
        </form>
      </div>

    </div>
  </body>
</htmk>